<main>

  <h1>Create list</h1>

  <div class="layout-text-input">
    <div class="layout-input-subtitle-box-login">
      <label for="title" class="text-input--subtitle">Title:</label>
    </div>

    <input type="text" id="title" class="text-input">
    <br>
  </div>

  <br>

  <div class="layout-text-input">
    <div class="layout-input-subtitle-box-login">
      <label for="private" class="text-input--subtitle">Private:</label>
    </div>

    <input type="checkbox" id="private" class="text-input">
    <br>
  </div>

  <br>

  <button class="button button--submit" onclick=createList()>Submit</button>

</main>