<main>

  <h1>Explore</h1>

  <hr>

  <div id="playlist-spinner" class="spinner">
    <div class="spinner-head">
    </div>
  </div>

  <table id="loaded-playlists" class="is-movie-table-empty">
    <tr>
      <th>Title</th>
      <th>Size</th>
      <th>Rating</th>
    </tr>
  </table>

  <button id="refresh-button" class="button button--refresh">
    Refresh
  </button>

  <button id="error-button" class="button button--refresh">
    Cause error
  </button>

  <div id="js-spinner"></div>

</main>