<main>

  <h1>Favorites</h1>

  <hr>

  <div id="favorites-spinner" class="spinner">
    <div class="spinner-head">
    </div>
  </div>

  <p id="no-favorites" class="is-hidden">You have no favorites</p>

  <table id="favorites-table" class="is-movie-table-empty">
    <tbody>
    </tbody>
  </table>

</main>