<main>

  <h1>Favorites</h1>

  <hr>

  <div class="text">
    <h2>да не умер он в конце драйва</h2>

    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
    <p>да не умер он в конце драйва</p>
  </div>

</main>