<footer>

  <hr>
  <p>Author: Sergeev 'GTEgorss' Egor</p>
  <a href="mailto:noartu@mail.ru" target="_blank">noartu@mail.ru</a>
  <a href="https:/t.me/GTEgorss" target="_blank">@GTEgorss</a>
  <p>Copyright by ©Не катайте, пожалуйста!</p>
  <p>Load time: {{ responseTime }} s (server) + <span id="load-time"></span> s (browser)</p>

</footer>