<header>
  <div class="layout-title">
    <div class="layout-title--name">
      <a href="/">
        <img class="icon" src="/Content/favicon.ico" alt="Logo" width="96px" height="96px">
      </a>
      <h1 class="title--h1">Moviecatalog</h1>
    </div>

    <nav class="layout-title--buttons">
      <a class="button button--title" href="#">eng/rus</a>
      {{#if loggedIn}}
        <a class="button button--title" href="#">logged in as {{username}}</a>
      {{else}}
        <a id="login" class="button button--title" href="login">log in</a>
        <a id="signup" class="button button--title" href="signup">sign up</a>
      {{/if}}
    </nav>

    <nav class="layout-nav">
      <a id="index" class="button button--nav" href="/">Home</a>
      <a id="lists" class="button button--nav" href="lists">Playlists</a>
      <a id="favorites" class="button button--nav" href="favorites">Favorites</a>
      <a id="watchlater" class="button button--nav" href="watchlater">Watch Later</a>
      <a id="search" class="button button--nav" href="search">Search</a>
      <a id="explore" class="button button--nav" href="explore">Explore</a>
      <a id="style" class="button button--nav" href="style">Style</a>
    </nav>

    <script src="/JS/CurrentPage.js"></script>
    <script src="/JS/Global.js"></script>

  </div>
</header>