<main>

  <h1>Playlists</h1>

  <hr>

  <a class="button button--create" href="createlist">Create playlist</a>

  <div id="playlist-spinner" class="spinner">
    <div class="spinner-head">
    </div>
  </div>

  <p id="no-playlists" class="is-hidden">You have no playlists</p>

  <table id="playlists" class="is-movie-table-empty">
    <tr>
      <th>Title</th>
      <th>Private</th>
    </tr>
  </table>

</main>