<main>

  <h1>Log in</h1>

  <div class="layout-text-input">
    <div class="layout-text-input-box-login">
      <label for="username" class="text-input--subtitle">Username:</label>
    </div>

    <input type="text" id="username" class="text-input">
    <br>
  </div>

  <div class="layout-text-input">
    <div class="layout-text-input-box-login">
      <label for="password" class="text-input--subtitle">Password:</label>
    </div>

    <input type="password" id="password" class="text-input">
    <br>
  </div>

  <br>

  <div class="button button--submit" onclick=logIn()>Submit</div>

</main>