<main>

  <h1>Style</h1>

  <hr>

  <style contenteditable="true" class="dynamic-style" style="
    display: block;
    min-height: 200px;
    white-space: pre;
    transition: all 0.2s">
    .dynamic-style {
      background: #BADA55;
    }
  </style>

</main>