<main>

  <h1>Watch Later</h1>

  <hr>

  <div class="layout-movie-filter">
    <p class="text-input--subtitle">Movie filter:</p>
    <form class="layout-movie-filter--checkboxes">
      <label for="all">
        <input type="radio" id="all" name="movieFilter" value="All" checked class="movie-filter--checkbox">
        All
      </label>

      <br>

      <label for="watched">
        <input type="radio" id="watched" name="movieFilter" value="Watched" class="movie-filter--checkbox">
        Watched
      </label>

      <br>

      <label for="notWatched">
        <input type="radio" id="notWatched" name="movieFilter" value="NotWatched"
               class="movie-filter--checkbox">
        Not watched
      </label>
    </form>
  </div>

  <br>

  <div class="layout-movie-list">
    <p class="text-input--subtitle">Watch later list:</p>

    <table id="movieList">
      <tbody>
      </tbody>
    </table>
  </div>

</main>