<!DOCTYPE HTML>
<html lang="en">
<head>
  {{> globalhead}}
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
</head>
<body>

{{> header}}

{{> exploremain}}

{{> footer}}

<script type="module" src="JS/ExploreLoad.js"></script>

</body>
</html>