<!DOCTYPE HTML>
<html lang="en">
<head>
  {{> globalhead}}

  <script src="/JS/MovieProfile.js"></script>
  <script src="/JS/TimesOpened.js"></script>
</head>
<body>

{{> innerheader}}

{{> movieprofilemain}}

{{> footer}}

</body>
</html>