<!DOCTYPE HTML>
<html lang="en">
<head>
  {{> globalhead}}

  <script src="../JS/WatchLaterList.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

{{> header}}

{{> watchlatermain}}

{{> footer}}

<script src="../JS/WatchLaterMovies.js"></script>

</body>
</html>