.is-button-selected {
    border: 3px solid rgba(207, 79, 32, 0.75);
    padding: 7px 30px 7px;
}

.movie-list--checkbox:checked {
    background: #424242;

    /*TODO create a tick*/
}

.is-movie-watched {
    color: #bbbbbb;

    text-decoration: line-through;
    text-decoration-color: white;
}

.is-filtered-out {
    display: none;
}

.is-movie-table-empty {
    display: none;
}

.is-hidden {
    display: none;
}